{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-debugger": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off"
  }
}
